.App {
	color: var(--light);
	text-align: center;
	height: 100%;
}

.page-appear,
.page-enter {
	position: absolute;
	z-index: -1000;
}
.page-appear-active,
.page-enter-active,
.page-enter {
	position: absolute;
}
.page-exit.page-exit-active {
	position: absolute;
	z-index: -1000;
}
