.App {
	color: var(--light);
	text-align: center;
	height: 100%;
}

.page-appear,
.page-enter {
	position: absolute;
	top: 10%;
	z-index: -1000;
}
.page-appear-active,
.fade-enter-active,
.fade-enter {
	top: 10%;
	position: absolute;
}
.page-exit.fade-exit-active {
	position: absolute;
	top: 10%;
	z-index: -1000;
}
