/* # Background # */
.BG {
	z-index: -100;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}
.BG .flex {
	height: 100%;
	margin: 0 -2px;
	width: stretch;
	background: var(--dark);
}
.BG .right {
	float: right;
	height: 100%;
	width: 564px;
	right: 0;
	top: 0;
	z-index: 10;
	background: url(./bg-right.svg);
}
.BG .mobile {
	display: none;
	z-index: 1;
	width: 100vw;
	height: 100%;
}
.Landing .BG .mobile,
.About .BG .mobile {
	background: url(./landing-bg-mobile.svg);
}
.Contact .BG .mobile {
	background: url(./contact-bg-mobile.svg);
}
.Projects .BG .mobile {
	background: url(./projects-bg-mobile.svg);
}
.Landing .BG .left,
.About .BG .left {
	height: 100%;
	width: 566px;
	z-index: 10;
	background: url(./landing-bg-left.svg);
}
.Contact .BG .left {
	height: 100%;
	width: 566px;
	z-index: 10;
	background: url(./contact-bg-left.svg);
}

@media only screen and (max-width: 900px) {
	.BG .mobile {
		display: block;
	}
}
.BG .rainbow {
	position: absolute;
	z-index: -100;
	margin: 0;
	padding: 0;
	padding-right: 100%;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		90deg,
		#ff0000 0%,
		#b72268 15%,
		#833bb4 20%,
		#833bb4 30%,
		#b72268 35%,
		#ff0000 50%,
		#b72268 65%,
		#833bb4 70%,
		#833bb4 80%,
		#b72268 85%,
		#ff0000 100%
	);
	animation: 4s color-shift linear infinite;
}
.Contact .BG .rainbow {
	padding-right: 0;
	padding-bottom: 100vh;
	background: linear-gradient(
		0deg,
		#ff0000 0%,
		#b72268 15%,
		#833bb4 20%,
		#833bb4 30%,
		#b72268 35%,
		#ff0000 50%,
		#b72268 65%,
		#833bb4 70%,
		#833bb4 80%,
		#b72268 85%,
		#ff0000 100%
	);
	animation: 4s color-shift-vertical linear infinite;
}
@keyframes color-shift {
	0% {
		transform: translate(-100vw, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes color-shift-vertical {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -100vh);
	}
}
.Projects .BG .right {
	height: 100%;
	width: 566px;
	z-index: 10;
	background: var(--dark);
	background: url(./projects-bg-right.svg);
}
.Projects .BG .left {
	height: 100%;
	width: 566px;
	z-index: 10;
	background: var(--dark);
	background: url(./projects-bg-left.svg);
}
