@media only screen and (max-width: 900px) {
	/* Nav */
	.Brand {
		margin-left: 1rem;
	}
	.Hamburger {
		margin-right: 1.25rem;
	}
	/* Landing */

	/* text-container */
	.text-container p {
		font-size: 18px;
		max-width: 90%;
	}
	.text-container h1 {
		font-size: 30px;
	}
	/* About */
	.About .text-container p {
		font-size: 16px;
	}
	/* Contact */
	.Contact-container h1 {
		font-size: 30px;
	}
	.Contact-container p {
		font-size: 18px;
		max-width: 90%;
	}
	.Contact-form {
		width: 90%;
	}
	/* Projects */
	a.toContact {
		width: 80%;
	}
	.Projects-container {
		justify-content: space-evenly;
		height: 10%;
	}
	.Projects-container h1 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.Projects-container p {
		display: none;
		font-size: 18px;
		max-width: 90%;
	}
	.Projects-card-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-row-gap: 20px;
		width: 100%;
		height: fit-content;
	}

	/* BG */
	.BG .right,
	.BG .left,
	.BG .flex {
		display: none;
	}
	.BG {
		position: fixed;
	}
}

@media only screen and (max-width: 350px) {
	.Landing-text-container p {
		font-size: 15px;
		max-width: 90%;
	}
	.Landing-text-container h1 {
		font-size: 25px;
	}
	.Contact-container h1 {
		font-size: 25px;
	}
	.Contact-container p {
		font-size: 14px;
		max-width: 90%;
	}
	.project-card {
		width: 310px;
		height: 190px;
	}
	.project-card h2 {
		font-size: 18px;
	}
	.project-card p {
		font-size: 14px;
	}
}
