.Navbar {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--light);
}
.Brand {
	margin-left: 2rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--light);
}
.Hamburger {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 25%;
	width: 30px;
	height: 1.5rem;
	margin-left: auto;
	margin-right: 2rem;
	cursor: pointer;
}
.line {
	width: 30px;
	height: 1px;
	background-color: white;
	margin: 0;
}
/* Material UI Drawer */
.MuiPaper-root.MuiDrawer-paperAnchorRight {
	overflow: hidden;
	min-width: 25%;
	background-color: var(--dark);
	color: var(--light);
	justify-content: start;
	align-items: center;
}
.nav-slider-container {
	display: grid;
	z-index: -1;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.nav-slider {
	transition: all 500ms;
	background-color: var(--dark-accent);
	width: 100%;
	transform: translate(-100%, 0);
}
.nav-slider:nth-of-type(2n) {
	transform: translate(100%, 0);
}
.MuiListItem-root.MuiListItem-gutters:hover .nav-slider-container .nav-slider {
	transform: translate(0, 0);
}
.MuiPaper-root.MuiDrawer-paperAnchorRight a {
	font-size: 24px;
	width: 100%;
	font-weight: 300;
	color: var(--light);
	padding: 1rem 3rem;
	text-align: center;
}
.MuiPaper-root.MuiDrawer-paperAnchorRight h1 {
	font-size: 32px;
	font-weight: 300;
	width: 100%;
	color: var(--light);
	padding: 1rem 3rem;
	text-align: center;
}
.MuiPaper-root .MuiDivider-root {
	background: var(--light-50);
	width: 80%;
}
.MuiList-root {
	width: 100%;
}
.MuiList-root.Nav-bottom {
	display: flex;
	height: 5%;
	justify-items: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 0;
}
