.Navbar {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--light);
}
.Brand {
	/* margin-top: 1rem; */
	margin-left: 2rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--light);
}
.Hamburger {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 25%;
	width: 30px;
	height: 1.5rem;
	margin-left: auto;
	/* margin-top: 1.2rem; */
	margin-right: 2rem;
	cursor: pointer;
}
.line {
	width: 30px;
	height: 1px;
	background-color: white;
	margin: 0;
}
/* Material UI Drawer */
.MuiPaper-root.MuiDrawer-paperAnchorRight {
	min-width: 25%;
	background-color: var(--dark);
	color: var(--light);
	align-items: center;
}
.MuiPaper-root.MuiDrawer-paperAnchorRight a {
	font-size: 24px;
	font-weight: 300;
	color: var(--light);
	margin: 1rem 3rem;
}
.MuiPaper-root.MuiDrawer-paperAnchorRight h1 {
	font-size: 32px;
	font-weight: 300;
	color: var(--light);
	margin: 1rem 3rem;
}
.MuiPaper-root .MuiDivider-root {
	background: var(--light-50);
	width: 80%;
}
